body {
	background: #FFF; 
	font-family: Tahoma;
	font-size: 20px;
	
}
table, tr, td {
  border: 1px solid black;
 
  margin-right: auto;
}

p {
	text-align: left;
}

img {
	display: block; 
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 50px?;
}
body a {
	font-family: tahoma;
}
h1 {
	text-align: center;
}